<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.kooshapari.resume-all-dr-monthly</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/kooshapari/bin/dr-drill-monthly</string>
  </array>
  <key>RunAtLoad</key>
  <false/>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Day</key>
    <integer>1</integer>
    <key>Hour</key>
    <integer>3</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>WorkingDirectory</key>
  <string>/Users/kooshapari</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>/Users/kooshapari</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/Users/kooshapari/.cargo/bin:/Users/kooshapari/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>TMPDIR</key>
    <string>/tmp</string>
    <key>LANG</key>
    <string>en_US.UTF-8</string>
    <key>LC_ALL</key>
    <string>C</string>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/kooshapari/Library/Logs/resume-all/dr-monthly.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/kooshapari/Library/Logs/resume-all/dr-monthly.err.log</string>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
